<h2>All Flights</h2>

<table class="ui single line table">
  <thead>
    <tr>
      <th>Flight Number</th>
      <th>From</th>
      <th>To</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights">
      <td>{{ flight.id }}</td>
      <td>{{ flight.source }}</td>
      <td>{{ flight.dest }}</td>
      <td>{{ flight.price | currency }}</td>
      <td>
        <a class="ui button" routerLink="/detail/{{flight.id}}">
          Details
        </a>
      </td>
    </tr>
  </tbody>
</table>