<div class="ui card" *ngIf="flight">
    <div class="image">
      <img src="https://images.unsplash.com/photo-1529074963764-98f45c47344b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YWVyb3BsYW5lfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80">
    </div>
    <div class="content">
      <a class="header">Flight #{{ flight.id }}</a>
      <div class="meta">
        <span class="date">{{ flight.source }} - {{ flight.dest }}</span>
      </div>
      <div class="description">
          This flight is for the low price of {{ flight.price | currency }}
      </div>
    </div>
    <div class="content">
        <div class="ui two buttons">
      <a class="ui button" href="/checkout/{{ flight.id }}">
        <i class="dollar sign icon"></i>
        Checkout
      </a>
      <button class="ui button" (click)="purchaseThirdParty()">
        <i class="btc icon"></i>
        ZipBuy
      </button>
        </div>
    </div>
  </div>